.row
  .col-md-8.col-md-offset-1
    %h6 &nbsp;
    .text-center
      %img.center-block.thumbnail{src: "https://s3.amazonaws.com/heatherpfaff/img/bio/1.jpeg"}
.row
  .col-md-10
    .text-center
      %h2
        Heather Pfaff
      %p
        Heather is a fashion stylist based in NYC.  She has been a fashion editor at Cosmopolitan, Marie Claire and Mademoiselle magazines.  She has also styled for magazines such as InStyle, Glamour and Self.  Along with fashion styling, Heather has a passion for beauty and has styled for advertising clients including Aveda, Neutrogena, Maybelline and Pantene.  Throughout her career Heather has worked with many photographers among them Walter Chin, Robert Erdmann, Riccardo Tinelli, Kenneth Willardt, Pamela Hanson, Stewart Shining, Patric Shaw, Ben Watts, Santa D'Orazio, Guy Aroch, James White, Matthew Rolston, Chris Craymer and Art Steiber.
