%h2 Fashion
%hr/
%ul.row
  %li.col-md-3
    %img.img-responsive{src: "images/fashion/1.jpg"}
  %li.col-md-3
    %img.img-responsive{src: "images/fashion/2.jpg"}
  %li.col-md-3
    %img.img-responsive{src: "images/fashion/3.jpg"}
  %li.col-md-3
    %img.img-responsive{src: "images/fashion/4.jpg"}
