.container-fluid
  .row-fluid
    #items
      - @collections.each do |collection|
        - collection.each do |image|
          .col-md-3
            %a.thumbnail{"data-gallery" => "", href: image, title: collection.title}
              %img.img-responsive{alt: collection.title, src: image}
