#blueimp-gallery.blueimp-gallery{"data-use-bootstrap-modal" => "false"}
  / The container for the modal slides
  .slides
  / Controls for the borderless lightbox
  %a.prev ‹
  %a.next ›
  %a.close ×
  %a.play-pause
  %ol.indicator
  / The modal dialog, which will be used to wrap the lightbox content
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", type: "button"} ×
          %h4.modal-title
        .modal-body.next
        .modal-footer
          %button.btn.btn-default.pull-left.prev{type: "button"}
            %i.glyphicon.glyphicon-chevron-left
            Previous
          %button.btn.btn-primary.next{type: "button"}
            Next
            %i.glyphicon.glyphicon-chevron-right
.container-fluid
  #items
    - @images.each_slice(@slice) do |row|
      .row
        .col-md-1
        - row.each do |image|
          %div{class: @slice == 2 ? "col-md-4" : "col-md-3"}
            %a.thumbnail{"data-gallery" => "", href: image.path, title: image.title}
              %img.img-responsive{alt: image.title, src: image.thumb_path}
