.row-fluid
  / The Gallery as inline carousel, can be positioned anywhere on the page
  #blueimp-gallery-carousel.blueimp-gallery.blueimp-gallery-carousel
    .slides
    %h3.title
    %a.prev ‹
    %a.next ›
    %a.play-pause
    %ol.indicator
  #links
    %a{:href => "images/fashion/thumbnails/01.jpg", :title => "Fashion"}
    %a{:href => "images/beauty/thumbnails/02.jpg", :title => "Beauty"}
    %a{:href => "images/covers/thumbnails/03.jpg", :title => "Covers"}
