.jumbotron
  %h1 Heather Pfaff
  %p Stylist
.container-fluid
  .row-fluid
    .col-lg-4{style: "text-align: center;"}
      %img.img-circle.img-responsive{src: "images/fashion/01.jpg"}
      %h2 Fashion
      %p
        %a.btn.btn-default{href: "/fashion", role: "button"} Browse Gallery
    .col-lg-4{style: "text-align: center;"}
      %img.img-circle.img-responsive{src: "images/beauty/02.jpg"}
      %h2 Beauty
      %p
        %a.btn.btn-default{href: "/beauty", role: "button"} Browse Gallery
    .col-lg-4{style: "text-align: center;"}
      %img.img-circle.img-responsive{src: "images/covers/03.jpg"}
      %h2 Covers
      %p
        %a.btn.btn-default{href: "/covers", role: "button"} Browse Gallery
