.row-fluid
  / The Gallery as inline carousel, can be positioned anywhere on the page
  #blueimp-gallery-carousel.blueimp-gallery.blueimp-gallery-carousel
    .slides
    %h3.title
    %a.prev ‹
    %a.next ›
    %a.play-pause
    %ol.indicator
  #links
    %a{href: "https://s3.amazonaws.com/heatherpfaff/img/home/001.jpg", title: "Fashion"}
    %a{href: "https://s3.amazonaws.com/heatherpfaff/img/home/002.jpg", title: "Beauty"}
    %a{href: "https://s3.amazonaws.com/heatherpfaff/img/home/003.jpg", title: "Covers"}
