!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../favicon.ico", rel: "icon"}/
    %title Heather Pfaff
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "css/blueimp-gallery.min.css", rel: "stylesheet"}/
    %link{href: "css/bootstrap-image-gallery.min.css", rel: "stylesheet"}/
    %link{href: "css/custom.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %script{src: "https://www.google.com/recaptcha/api.js", async: "", defer: ""}
  %body
    .container.wrapper
      .row
        .page-header
          %h1
            Heather Pfaff
            %small Stylist
      .row
        .col-md-2
          %ul.nav.nav-pills.nav-stacked
            %li{class: ('active' if @active == :home)}
              %a{href: "/"} Home
            %li{class: ('active' if @active == :fashion)}
              %a{href: "/fashion"} Fashion
            %li{class: ('active' if @active == :beauty)}
              %a{href: "/beauty"} Beauty
            %li{class: ('active' if @active == :covers)}
              %a{href: "/covers"} Covers
            %li{class: ('active' if @active == :bio)}
              %a{href: "/bio"} Bio
            %li{class: ('active' if @active == :contact)}
              %a{href: "/contact"} Contact
        .col-md-10
          =yield
      .push
    .footer
      .container
        %p.pull-right
          %a{href: "#"} Back to top
        %p &copy; Heather Pfaff #{ Date.today.year }. All rights reserved

  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{src: "js/jquery.blueimp-gallery.min.js"}
  %script{src: "js/bootstrap-image-gallery.min.js"}
  %script{src: "js/bootstrap.min.js"}
  %script{src: "js/blueimp-gallery.min.js"}
  %script{src: "js/custom.js"}
