/* background color */

body {
  background-color: #f1f1f1;
}

/* links */

li.active {
  font-weight: bold;
}

li a {
  color: #000000;
}

/* footer */

html, body {
  height: 100%;
}

.footer, .push {
  height: 40px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
