/* /\* thumbnails *\/ */
/* ul { */
/*   padding:0 0 0 0; */
/*   margin:0 0 0 0; */
/* } */

/* ul li { */
/*   list-style:none; */
/*   /\* margin-bottom:25px; *\/ */
/* } */

/* ul li img { */
/*   cursor: pointer; */
/* } */

/* /\* footer *\/ */

/* html, body { */
/*   height: 100%; */
/* } */

/* /\* #wrap { *\/ */
/* /\*   min-height: 100%; *\/ */
/* /\*   height: auto; *\/ */
/* /\*   margin: 0 auto -60px; *\/ */
/* /\*   padding: 0 0 60px; *\/ */
/* /\* } *\/ */

/* .footer { */
/*     background-color: #f5f5f5; */
/*     bottom: 0; */
/*     height: 60px; */
/*     position: absolute; */
/*     width: 100%; */
/* } */

/* .container .text-muted { */
/*     margin: 20px 0; */
/* } */
/* .text-muted { */
/*     color: #777; */
/* } */
