!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title Heather Pfaff
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %script{:src => "assets/js/ie-emulation-modes-warning.js"}
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body
    .container
      %h2 Heather Pfaff
      %hr/
      %h3 Stylist
    .navbar.navbar-inverse{:role => "navigation"}
      .container
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#fashion"} Fashion
            %li
              %a{:href => "#beauty"} Beauty
            %li
              %a{:href => "#covers"} Covers
            %li
              %a{:href => "#contact"} Contact
    .container
      .starter-template
        %h1 Bootstrap starter template
        %p.lead
          Use this document as a way to quickly start any new project.
          %br/
          All you get is this text and a mostly barebones HTML document.
    .footer
      .container
        %p @Heather Pfaff 2014. All rights reserved

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "assets/js/bootstrap.min.js"}
    %script{:src => "assets/js/ie10-viewport-bug-workaround.js"}
